body {
    background-color: #35773E;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    border: 2px solid #555;
    background-color: #1E3E2B;
}
